<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Asociación Colombiana de Glaucoma - ACG</title>
    <meta name="description" content="La Asociación Colombiana de Glaucoma es una entidad sin ánimo de lucro de carácter nacional, adscrita a la Asociación Mundial de pacientes con Glaucoma.  Somos un grupo interdisciplinario de profesionales que unidos trabajamos para prevenir la ceguera por glaucoma en Colombia, a través de un diagnóstico oportuno y un tratamiento adecuado.">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{asset('hds-acg-layout/plugins/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{asset('hds-acg-layout/plugins/font-awesome/css/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{asset('hds-acg-layout/css/main.css')}}" >
    <link rel="stylesheet" href="{{asset('hds-acg-layout/css/carousel.css')}}" >
  </head>
  <body>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-79966516-26', 'auto');
      ga('send', 'pageview');

    </script>
    <div id="indicador" class="hidden-xs" >
      <span class="glyphicon glyphicon-chevron-down"></span>
    </div>
    <header>
      <img src="{{asset('hds-acg-layout/img/logo.png')}}" alt="" id="logo">
      <!-- carousel -->
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <!-- <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol> -->

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="{{asset('hds-acg-layout/img/banner1.jpg')}}" alt="..." class="img img-responsive sheet al100">
          </div>
          <div class="item">
            <img src="{{asset('hds-acg-layout/img/banner2.jpg')}}" alt="..." class="img img-responsive sheet al100">
          </div>
          <div class="item">
            <img src="{{asset('hds-acg-layout/img/banner3.jpg')}}" alt="..." class="img img-responsive sheet al100">
          </div>
        </div>

        <!-- Controls -->
        <!-- <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a> -->
      </div>
      {% include 'menu.html.twig' %}
    </header>
    <section class="container-fluid">
      <!-- bienvenida -->

      <div class="row">
        <div class="col-xs-12 thumbnail welcome sheet sin-padding">
          <img src="{{asset('hds-acg-layout/img/welcome.jpg')}}" alt="..." class="img img-responsive sheet al100">
          <div class="caption">
            <h3 class="text-center">¡Bienvenido!</h3>
            <p  class="text-center p-welcome">
              La VISTA es uno de los sentidos más útiles, pero pocas veces pensamos en ello; tradicionalmente acudimos al médico cuando sentimos dolor o malestar. Sin embargo, algunos padecimientos se desarrollan silenciosamente y cuando se manifiestan es imposible revertir el daño, este es el caso del glaucoma.  Actualmente la esperanza de vida al nacer es de 74 años, durante todo este tiempo nuestros ojos deben cumplir su objetivo funcional y estético, pero ¿cuánto hemos hecho para que <br> nuestros ojos duren toda la vida? <br>
              En esta página encontrará información importante que le ayudará a conservar su salud visual. <br>
            </p>
            <p class="text-center"><a href="/articulos/glaucoma" class="btn btn-sm btn-primary btn-hds" role="button">Conoce más</a></p>
          </div>
        </div>
      </div>
      <div class="row sheet">
        <div class="col-xs-12 sin-padding verde sheet">
          <div id="carousel-example-generic-2" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">

              <div class="item active">
                <div class="col-xs-6 verde item-todo">
                  <h3 class="text-center">Todo sobre Glaucoma</h3>
                  <p class="text-justify">El glaucoma es una enfermedad degenerativa de la visión que se presenta en la mayoría de los casos de manera asintomática. Conozca a profundidad qué es el glaucoma, tipos de glaucoma, síntomas de glaucoma e información adicional para su prevención y tratamiento.</p>
                  <p class="text-center"><a href="/articulos/glaucoma" class="btn btn-sm btn-primary btn-hds" role="button">Conoce más</a></p>
                </div>
                <div class="col-xs-6 sin-padding">
                  <img src="{{asset('hds-acg-layout/img/m1.jpg')}}" alt="" class="img img-responsive sheet al100">
                </div>
              </div>

              <div class="item">
                <div class="col-xs-6 azul item-todo">
                  <h3 class="text-center">Prevención de Glaucoma</h3>
                  <p class="text-justify">El tratamiento para el glaucoma es fundamental para que le enfermedad no avance. Para realizar un correcto tratamiento es indispensable conocer el procedencia de la enfermedad que le permitirá elegir al paciente el mejor método y lograr excelentes resultados.</p>
                  <p class="text-center"><a href="/articulos/tratamiento-slt-la-alternativa-mas-segura" class="btn btn-sm btn-primary btn-hds" role="button">Conoce más</a></p>
                </div>
                <div class="col-xs-6 sin-padding">
                  <img src="{{asset('hds-acg-layout/img/m2.jpg')}}" alt="" class="img img-responsive sheet al100">
                </div>
              </div>

              <div class="item">
                <div class="col-xs-6 morado item-todo">
                  <h3 class="text-center">Todo sobre Glaucoma</h3>
                  <p class="text-justify">Prevenir el glaucoma es una tarea de todos. Cualquier persona independiente de su edad, sexo o raza, puede tener la enfermedad sin saberlo. Un diagnóstico oportuno es fundamental para lograr un tratamiento exitoso del glaucoma en su familia, hijos, padres, abuelos y nietos. </p>
                  <p class="text-center"><a href="/articulos/como-prevenir-la-ceguera-por-glaucoma" class="btn btn-sm btn-primary btn-hds" role="button">Conoce más</a></p>
                </div>
                <div class="col-xs-6 sin-padding">
                  <img src="{{asset('hds-acg-layout/img/m3.jpg')}}" alt="" class="img img-responsive sheet al100">
                </div>
              </div>

            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic-2" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic-2" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
      <div class="row thumbnail welcome sheet sin-padding">
        <img src="{{asset('hds-acg-layout/img/manos.jpg')}}" alt="..." class="sheet img img-responsive al100">
        <div class="caption tengo">
          <div  class="text-center col-xs-4 glaucoma">
            <a href="/articulos/glaucoma">
              <img src="{{asset('hds-acg-layout/img/1.png')}}" alt="" class="img img-responsive">
              <h4>Tengo <br>glaucoma</h4>
            </a>
          </div>
          <div  class="text-center col-xs-4 sospecha">
            <a href="/articulos/tratamiento-slt-la-alternativa-mas-segura">
              <img src="{{asset('hds-acg-layout/img/2.png')}}" alt="" class="img img-responsive">
              <h4>Tengo sospecha <br> de glaucoma</h4>
            </a>
          </div>
          <div  class="text-center col-xs-4 no">
            <a href="/articulos/tratamiento-slt-la-alternativa-mas-segura">
              <img src="{{asset('hds-acg-layout/img/3.png')}}" alt="" class="img img-responsive">
              <h4>No Tengo <br> glaucoma</h4>
            </a>
          </div>
        </div>
      </div>
      <!-- <div class="row naranja sheet">
        <h3 class="text-center">Noticias</h3>
        <div class="col-xs-12">
          <div class="carousel carousel-showmanymoveone slide" id="carousel123">
            <div class="carousel-inner">
              <div class="item active">
                <div class="col-xs-12 col-sm-6 col-md-3">
                  <a href="#">
                    <img src="http://placehold.it/500/A054A6/fff/&amp;text=1" class="img-responsive">
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="col-xs-12 col-sm-6 col-md-3">
                  <a href="#">
                    <img src="http://placehold.it/500/F654A6/fff/&amp;text=2" class="img-responsive">
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="col-xs-12 col-sm-6 col-md-3">
                  <a href="#">
                    <img src="http://placehold.it/500/D554A6/fff/&amp;text=3" class="img-responsive">
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="col-xs-12 col-sm-6 col-md-3">
                  <a href="#">
                    <img src="http://placehold.it/500/C454A6/fff/&amp;text=4" class="img-responsive">
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="col-xs-12 col-sm-6 col-md-3">
                  <a href="#">
                    <img src="http://placehold.it/500/B354A6/fff/&amp;text=5" class="img-responsive">
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="col-xs-12 col-sm-6 col-md-3">
                  <a href="#">
                    <img src="http://placehold.it/500/A254A6/fff/&amp;text=6" class="img-responsive">
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="col-xs-12 col-sm-6 col-md-3">
                  <a href="#">
                    <img src="http://placehold.it/500/A054A6/fff/&amp;text=7" class="img-responsive">
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="col-xs-12 col-sm-6 col-md-3">
                  <a href="#">
                    <img src="http://placehold.it/500/A054A6/fff/&amp;text=8" class="img-responsive">
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="col-xs-12 col-sm-6 col-md-3">
                  <a href="#">
                    <img src="http://placehold.it/500/A054A6/fff/&amp;text=9" class="img-responsive">
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="col-xs-12 col-sm-6 col-md-3">
                  <a href="#">
                    <img src="http://placehold.it/500/A054A6/fff/&amp;text=1" class="img-responsive">
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="col-xs-12 col-sm-6 col-md-3">
                  <a href="#">
                    <img src="http://placehold.it/500/A054A6/fff/&amp;text=1" class="img-responsive">
                  </a>
                </div>
              </div>
            </div>
            <a class="left carousel-control" href="#carousel123" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
            <a class="right carousel-control" href="#carousel123" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
          </div>
        </div>
        <div class="col-xs-12">
          <p class="text-center"><a href="post.html" class="btn btn-sm btn-primary btn-hds btn-new" role="button">Conoce más</a></p>
        </div>
      </div> -->
      <div class="text-center col-xs-12" id="p_number"><img src="{{asset('hds-acg-layout/img/phone.png')}}" id="phone" alt=""></div>
      <div class="row" id="row-banner-inferior">
        <img src="{{asset('hds-acg-layout/img/banner-inferior-2.jpg')}}" id="img-banner-inferior" class="img img-responsive">
        <ul class="nav nav-pills" id="ul-banner-inferior">
          <li><a href="#"><i class="fa fa-map-marker"></i></a></li>
          <li><a href="#"><i class="fa fa-envelope-o"></i></a></li>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-youtube"></i></a></li>
        </ul>
        <!-- <div  class="text-center col-xs-12 sin-padding" id="p-banner-inferior"></div> -->
      </div>
    </section>
    {% include 'footer.html.twig' %}
    <!-- scripts -->
    <script src="{{asset('hds-acg-layout/plugins/jquery-3.2.1.min.js')}}"></script>
    <script src="{{asset('hds-acg-layout/plugins/bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{asset('hds-acg-layout/js/carousel.js')}}"></script>
    <script src="{{asset('hds-acg-layout/js/main.js')}}"></script>
  </body>
</html>
