<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>{{the_post.title }} | ACG</title>
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{asset('hds-acg-layout/plugins/bootstrap/css/bootstrap.min.css')}}" >
    <link rel="stylesheet" href="{{asset('hds-acg-layout/plugins/font-awesome/css/font-awesome.min.css')}}" >
    <link rel="stylesheet" href="{{asset('hds-acg-layout/css/main.css')}}" >
    <link rel="stylesheet" href="{{asset('hds-acg-layout/css/carousel.css')}}" >
  </head>
  <body>

    <header>
      {% include 'menu.html.twig' %}
      <img src="{{asset('hds-acg-layout/img/banner-')}}{{the_post.menu.slug}}.png" id="img-banner-inferior" class="img img-responsive banner-fixed">
    </header>
    <section class="container">
      <!-- bienvenida -->
      <div class="col-xs-12">
        <h1 class="text-center" id="post_title">{{the_post.title}}</h1>
      </div>
      <article class="col-xs-12  sin-padding" id="articulo">
        <div class="col-xs-12 sin-padding">
          <ol class="breadcrumb">
            <li><a href="/">Inicio</a></li>
            <li>{{the_post.menu.name}}</li>
            <li class="active">{{the_post.title}}</li>
          </ol>
        </div>
        <div class="list-group col-xs-3">
          <li class="list-group-item text-center" id="list-{{the_post.menu.id}}">{{the_post.menu.name}}</li>
          {% for post in posts if post.menu.id == the_post.menu.id %}
            <a href="/articulos/{{post.slug}}" class="list-group-item {% if post.id == the_post.id %} active {% endif %}">{{ post.title }}</a>
          {% endfor %}
        </div>
        <div class="col-xs-9">
          <p class="text-justify" id="post_content">
            {% block content %}{% endblock %}
          </p>
        </div>
      </article>
    </section>
    <footer class="sin-padding col-xs-12">
      <div class="col-xs-10 col-xs-offset-1">
        <div  class="col-xs-6">
            <h2 id="somos">Quienes somos</h2>
            <p class="text-justify" id="p-somos">
              La Asociación Colombiana de Glaucoma es una entidad sin ánimo de lucro de carácter nacional, adscrita a la Asociación Mundial de pacientes con Glaucoma.  Somos un grupo interdisciplinario de profesionales que unidos trabajamos para prevenir la ceguera por glaucoma en Colombia, a través de un diagnóstico oportuno y un tratamiento adecuado. <br><br>
              Nos hemos especializado en la prevención de la ceguera por glaucoma, contamos con la mejor tecnología, conocimiento y experiencia al servicio de la salud visual en Bogotá y en Colombia. <br><br>
              Nuestro objetivo principal es reducir el número de ciegos en Colombia, por lo cual tenemos definidas actividades de educación, información, fomento, promoción y prevención encaminadas al diagnóstico y tratamiento oportuno del Glaucoma. <br><br>
              La Asociación Colombiana de Glaucoma, se encuentra ubicada en Bogotá, Colombia. <br><br>
            </p>
          </div>
        <div  class="text-center col-xs-3 margen100">
            <h5 id="prevencion">Jornadas de <br> Prevención</h5>
          </div>
        <div class="col-xs-3 margen100">
            <img src="{{asset('hds-acg-layout/img/logo-gray.png')}}" alt="" id="logo-gray" class="img img-responsive">
          </div>
      </div>
      <p class="naranja text-center col-xs-12 sin-margen">
        <br>Alta Visión: Cr 14 No. 86a - 15 Bogotá - Colombia PBX: 6164585 Opción: 5. E-mail: educacion@altavision.com.co
        <br>La información médica aquí descrita no remplaza una valoración oftalmológica.
        <br>La reproducción de texto o imagénes incluidas en este sitio web esta estrictamente prohibida.
      </p>
    </footer>
    <!-- scripts -->
    <script src="{{asset('hds-acg-layout/plugins/jquery-3.2.1.min.js')}}"></script>
    <script src="{{asset('hds-acg-layout/plugins/bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{asset('hds-acg-layout/js/carousel.js')}}"></script>
    <script src="{{asset('hds-acg-layout/js/main.js')}}"></script>
  </body>
</html>
