<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>{{the_post.title }} | ACG</title>
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{asset('hds-acg-layout/plugins/bootstrap/css/bootstrap.min.css')}}" >
    <link rel="stylesheet" href="{{asset('hds-acg-layout/plugins/font-awesome/css/font-awesome.min.css')}}" >
    <link rel="stylesheet" href="{{asset('hds-acg-layout/css/main.css')}}" >
    <link rel="stylesheet" href="{{asset('hds-acg-layout/css/carousel.css')}}" >
    <script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=59b197495377b300129952f5&product=inline-share-buttons' async='async'></script>

  </head>
  <body>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-79966516-26', 'auto');
      ga('send', 'pageview');

    </script>
    <div class="sharethis-inline-share-buttons"></div>
    <header>
      {% include 'menu.html.twig' %}
      <img src="{{asset('hds-acg-layout/img/banner-')}}{{the_post.menu.slug}}.png" id="img-banner-inferior" class="img img-responsive banner-fixed">
    </header>
    <section class="container">
      <!-- bienvenida -->
      <div class="col-xs-12">
        <h1 class="text-center" id="post_title">{{the_post.title}}</h1>
      </div>
      <article class="col-xs-12  sin-padding" id="articulo">
        <div class="col-xs-12 sin-padding">
          <ol class="breadcrumb">
            <li><a href="/">Inicio</a></li>
            <li>{{the_post.menu.name}}</li>
            <li class="active">{{the_post.title}}</li>
          </ol>
        </div>
        <div class="list-group col-xs-3">
          <li class="list-group-item text-center" id="list-{{the_post.menu.id}}">{{the_post.menu.name}}</li>
          {% for post in posts if post.menu.id == the_post.menu.id %}
            <a href="/articulos/{{post.slug}}" class="list-group-item {% if post.id == the_post.id %} active {% endif %}">{{ post.title }}</a>
          {% endfor %}
        </div>
        <div class="col-xs-9">
          <p class="text-justify" id="post_content">
            {% block content %}{% endblock %}
          </p>
        </div>
      </article>
    </section>
    {% include 'footer.html.twig' %}
    <!-- scripts -->
    <script src="{{asset('hds-acg-layout/plugins/jquery-3.2.1.min.js')}}"></script>
    <script src="{{asset('hds-acg-layout/plugins/bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{asset('hds-acg-layout/js/carousel.js')}}"></script>
    <script src="{{asset('hds-acg-layout/js/main.js')}}"></script>
  </body>
</html>
