<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Contáctenos | ACG</title>
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{asset('hds-acg-layout/plugins/bootstrap/css/bootstrap.min.css')}}" >
    <link rel="stylesheet" href="{{asset('hds-acg-layout/plugins/font-awesome/css/font-awesome.min.css')}}" >
    <link rel="stylesheet" href="{{asset('hds-acg-layout/css/main.css')}}" >
    <link rel="stylesheet" href="{{asset('hds-acg-layout/css/carousel.css')}}" >
  </head>
  <body>

    <header>
      {% include 'menu.html.twig' %}
      <img src="{{asset('hds-acg-layout/img/banner-noticias.png')}}" id="img-banner-inferior" class="img img-responsive banner-fixed">
    </header>
    <section class="container">
      <!-- bienvenida -->
      <div class="col-xs-12">
        <h1 class="text-center" id="post_title">Contáctenos</h1>
      </div>
      <article class="col-xs-12  sin-padding" id="articulo">
        <div class="col-xs-12 sin-padding">
          <ol class="breadcrumb">
            <li><a href="/">Inicio</a></li>
            <li class="active">Contáctenos</li>
          </ol>
        </div>
        <div class="list-group col-xs-3">
          <h3>Asociación Colombiana de Glaucoma</h3>
          <p>Cr 14 No. 86a - 15 Bogotá - Colombia
          <br>PBX: 6164585 Opción: 5
          <br>auxiliar@glaucoma.org.co</p>

          <p>Pida su cita llámandonos o diligenciando el formulario y en breve le contactaremos</p>
        </div>
        <div class="col-xs-9">
          <p class="text-justify" id="post_content">
            <form class="form" action="{{ path('correo') }}" method="post">
              <div class="modal-body">
                <div class="form-group">
                  <label for="name">Nombre:</label>
                  <input type="text" name="name" class="form-control" placeholder="Favor ingrese su nombre" required>
                </div>
                <div class="form-group">
                  <label for="phone">Teléfono:</label>
                  <input type="text" name="phone" class="form-control" placeholder="Favor ingrese un número de contacto" required>
                </div>
                <div class="form-group">
                  <label for="email">Correo:</label>
                  <input type="text" name="email" class="form-control" placeholder="Favor ingrese su correo electrónico" required>
                </div>
              </div>
              <div class="modal-footer">
                <button type="reset" class="btn btn-warning" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-success">Solicitar una cita</button>
              </div>
            </form>
          </p>
        </div>
      </article>
    </section>
    {% include 'footer.html.twig' %}
    <!-- scripts -->
    <script src="{{asset('hds-acg-layout/plugins/jquery-3.2.1.min.js')}}"></script>
    <script src="{{asset('hds-acg-layout/plugins/bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{asset('hds-acg-layout/js/carousel.js')}}"></script>
    <script src="{{asset('hds-acg-layout/js/main.js')}}"></script>
  </body>
</html>
